footer{
    height: 100px;
    display: flex;
    justify-content: center;
    border-top: solid 1px white;
}

button{
    background-color: #1D2038;
    background-position: center;
    background-repeat: no-repeat;
    height: 66px;
    width: 66px;
    border: none;
    border-radius: 50px;
    margin: 17px 12.5px;

}

.btn-list{
    background-image: url(src\assets\images\icon_list.png);
}

.btn-plus{
    background-image: url(src\assets\images\icon_plus.png);
}

.btn-history{
    background-image: url(src\assets\images\icon_history.png);
}

.btn-list:hover, .btn-plus:hover, .btn-history:hover{
    transition-duration: 0.5s;
}

.btn-list:hover{
    background-color: #88E7A1;
}

.btn-plus:hover{
    background-color: #F3D24F; 
}

.btn-history:hover{
    background-color: #E475F1;
}
