/* Style Général */

*{
    margin: 0;
    padding: 0;
}

html{
    height: 844px;
    width: 390px;
    background-color: #040722;
    color: white;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 16px;
}

/* Style des boutons "action" (Créer/Modifier/Valider) */

.btn-action-flex{
    display: flex;
    justify-content: center;
}

.btn-action{
    background-color: #64A7D9;
    color: white;
    border: none;
    border-radius: 30px;
    width: 248px;
    height: 48px;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 16px;
}

.btn-action:hover{
    cursor: pointer;
}